<!DOCTYPE html>
<html>
<head>
<title>Book Stack</title>
<meta charset="ISO-8859-1">
<link rel="stylesheet"  type="text/css" href="crudS.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div id="books">
	<b th:text=" ${books}"></b>
	</div>

	<div id="crud">
		<form action="/Rdel" method="POST">
			<b style="color:blue" th:text=" ${pattern}"></b>
			<input type="number" name="id" min="0" max="99999" placeholder="ID" class="form"
				required="required"> <br> <br> 
			
			<br> <input type="submit" value="DELETE" name="del" id="sbmt">
		</form>
	</div>
</body>
</html>